src/Backend/Api/Api/N8N/n8n.json
{
  "name": "Post to Facebook - AIPromo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-distribute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "93b1dd1a-95c1-400c-b9bc-385ed49f3f9f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        11488,
        2736
      ],
      "webhookId": "post-distribute",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-platform",
              "leftValue": "={{ $json.body.platform }}",
              "rightValue": "Instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bd6b6451-ea2f-4b89-9221-064e6cbd5b55",
      "name": "Is Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        11712,
        2736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-threads-platform",
              "leftValue": "={{ $json.body.platform }}",
              "rightValue": "Threads",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ed070d94-6a72-43f5-963d-eccb3e18225d",
      "name": "Is Threads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        11904,
        2992
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-image-url",
              "leftValue": "={{ $json.body.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bc893b48-8bb2-44bd-be96-eeb0252e4f5e",
      "name": "Has Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        12192,
        3280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1120894677764816/photos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRZAGehDQ3pJZAEiogShCiddxlIrxjLE5l8ZCKMOpyy3GAFcFXuMlVuDnR3YQlDs9y0D6ZAtfd2y5slnv7cxW3CZBVHt7C3ZBfTZCbhqkxdC1X6t5mCuLP0PfFZASA6ZCcMOISmj1HafCUFm0cXhqaZAHkbEpA1zjV2s55SWhScUbGpDpWqMHbZAcjFgfcnw"
            },
            {
              "name": "url",
              "value": "={{ $node[\"Webhook\"].json.body.image_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08c2a848-30db-4774-9200-bb77a3d98c79",
      "name": "Post with Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12384,
        3168
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1120894677764816/feed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRZAGehDQ3pJZAEiogShCiddxlIrxjLE5l8ZCKMOpyy3GAFcFXuMlVuDnR3YQlDs9y0D6ZAtfd2y5slnv7cxW3CZBVHt7C3ZBfTZCbhqkxdC1X6t5mCuLP0PfFZASA6ZCcMOISmj1HafCUFm0cXhqaZAHkbEpA1zjV2s55SWhScUbGpDpWqMHbZAcjFgfcnw"
            },
            {
              "name": "link",
              "value": "={{ $node[\"Webhook\"].json.body.public_url ?? \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1c6a470a-20f6-4a49-878e-e5dbe0337840",
      "name": "Post without Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12384,
        3376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-post-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "edd21a2e-516d-43ff-8886-6f54f88ce07c",
      "name": "Post Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        12640,
        3280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5197/api/webhooks/n8n/distribution-success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Facebook"
            },
            {
              "name": "external_url",
              "value": "=https://www.facebook.com/{{ $json.id }}"
            },
            {
              "name": "external_post_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "platform_metadata",
              "value": "={{ JSON.stringify({ facebook_post_id: $json.id, app_id: \"1755288118783416\", page_id: \"1120894677764816\" }) }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "97834d79-2ee2-4731-a8c0-1119315d4fd7",
      "name": "Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12896,
        3168
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5197/api/webhooks/n8n/distribution-failed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Facebook"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.message || 'Unknown Facebook API Error' }}"
            },
            {
              "name": "can_retry",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "8a439046-a636-4e5d-9554-3fe3ff32a8cc",
      "name": "Callback Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12896,
        3376
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Post distributed to Facebook', facebook_post_id: $json.id }) }}",
        "options": {}
      },
      "id": "69e61aa0-f6a6-4ccd-a560-9d6c88af101d",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        13120,
        3168
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Facebook distribution failed', error: $json.error?.message || $json.message }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "cd9c8d39-f661-47f5-bd40-e6940bf34717",
      "name": "Respond Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        13136,
        3376
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/17841462523395486/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $node[\"Webhook\"].json.body.image_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRQXuAXCUefRip9IUFZCLuIZA9Ui4TmkOKomXGLdZC1j3O93VUFDZCZCcq8ZBqzkQv9qEd1elzrZC1UWaznZAIqbLDN7oLVj0OhxZBBhecjkwfWY4TKFIjWBJ77EWZBpY2uhKtOv31Y2wY4MemHkcPFzQ4iGBcQjY7tyurZCPl24rnDFYKte3O2uJQZDZD"
            }
          ]
        },
        "options": {}
      },
      "id": "61269caf-4772-467a-ba2b-f868b185683b",
      "name": "IG Create Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12032,
        2384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-container-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "df3246b2-d90e-4b1c-a38a-b13879f7fd5c",
      "name": "IG Container OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        12256,
        2384
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $node[\"IG Container OK?\"].json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRQXuAXCUefRip9IUFZCLuIZA9Ui4TmkOKomXGLdZC1j3O93VUFDZCZCcq8ZBqzkQv9qEd1elzrZC1UWaznZAIqbLDN7oLVj0OhxZBBhecjkwfWY4TKFIjWBJ77EWZBpY2uhKtOv31Y2wY4MemHkcPFzQ4iGBcQjY7tyurZCPl24rnDFYKte3O2uJQZDZD"
            }
          ]
        },
        "options": {}
      },
      "id": "1d0b0252-5342-4ab5-93c4-9e74825c4f4c",
      "name": "IG Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12464,
        2368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "74fa2eb5-97f5-4949-bc43-197c29bb7ee6",
      "name": "IG Status FINISHED?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        12672,
        2368
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "873307bd-a753-48bc-ae86-e9753099291b",
      "name": "IG Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        12864,
        2544
      ],
      "webhookId": "0bdff43c-7bbc-4550-bfa3-7d41220152d1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/17841462523395486/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $node[\"IG Container OK?\"].json.id }}"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRQXuAXCUefRip9IUFZCLuIZA9Ui4TmkOKomXGLdZC1j3O93VUFDZCZCcq8ZBqzkQv9qEd1elzrZC1UWaznZAIqbLDN7oLVj0OhxZBBhecjkwfWY4TKFIjWBJ77EWZBpY2uhKtOv31Y2wY4MemHkcPFzQ4iGBcQjY7tyurZCPl24rnDFYKte3O2uJQZDZD"
            }
          ]
        },
        "options": {}
      },
      "id": "cf8fe9d9-2cf9-4cdf-822f-85fb27c044c4",
      "name": "IG Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12864,
        2352
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRQXuAXCUefRip9IUFZCLuIZA9Ui4TmkOKomXGLdZC1j3O93VUFDZCZCcq8ZBqzkQv9qEd1elzrZC1UWaznZAIqbLDN7oLVj0OhxZBBhecjkwfWY4TKFIjWBJ77EWZBpY2uhKtOv31Y2wY4MemHkcPFzQ4iGBcQjY7tyurZCPl24rnDFYKte3O2uJQZDZD"
            },
            {
              "name": "fields",
              "value": "permalink"
            }
          ]
        },
        "options": {}
      },
      "id": "31d53adb-63fc-4a61-846e-4463075d67f8",
      "name": "IG Get Permalink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13072,
        2352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-ig-post-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ac88dc77-dedc-40ea-831c-623d439c6ad6",
      "name": "IG Post Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        13264,
        2352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5197/api/webhooks/n8n/distribution-success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Instagram"
            },
            {
              "name": "external_url",
              "value": "={{ $json.permalink }}"
            },
            {
              "name": "external_post_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "platform_metadata",
              "value": "={{ JSON.stringify({ instagram_post_id: $json.id, instagram_account_id: \"17841462523395486\", permalink: $json.permalink }) }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "8de89ae5-076d-4477-a0ae-61dbfe26e95d",
      "name": "IG Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13472,
        2336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5197/api/webhooks/n8n/distribution-failed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Instagram"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.message || 'Unknown Instagram API Error' }}"
            },
            {
              "name": "can_retry",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "a1847d97-28a4-470d-9e97-016cfbabc7bf",
      "name": "IG Callback Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13472,
        2496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Post distributed to Instagram', instagram_post_id: $json.id, permalink: $json.permalink }) }}",
        "options": {}
      },
      "id": "c729f7ea-74bf-4a21-a74a-addef7569a74",
      "name": "IG Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        13664,
        2336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Instagram distribution failed' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "f1398e08-3ad9-48eb-845c-201d460b7bfa",
      "name": "IG Respond Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        13664,
        2496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-threads-image-url",
              "leftValue": "={{ $json.body.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2a7db7eb-1bfb-4cdd-aea8-c029dae7225d",
      "name": "Threads Has Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        12176,
        2896
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.threads.net/v1.0/25889672980705604/threads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "IMAGE"
            },
            {
              "name": "text",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "image_url",
              "value": "={{ $node[\"Webhook\"].json.body.image_url }}"
            },
            {
              "name": "access_token",
              "value": "THAAY5ZBEgt5rVBYllaeGRjV0NkODNOa1ZA5cnAxaE54b2dSNkJCN210V2xOQ2phYmQ4T1l1VjQyc29keFR6M21NTThSMldDWFRjbTh0SWI1eVoyYVYyTXROeTJrMXJvczVVOTRGZAnc4a1h3bm53VDVkSXNXb1RlbXRxSElyVG9zMlRWdwZDZD"
            }
          ]
        },
        "options": {}
      },
      "id": "6b2ce8b7-f2dd-4ad0-a52d-fe2e76c5bebd",
      "name": "Threads Create Container (Image)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12400,
        2816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.threads.net/v1.0/25889672980705604/threads",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "TEXT"
            },
            {
              "name": "text",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "access_token",
              "value": "THAAY5ZBEgt5rVBYllaeGRjV0NkODNOa1ZA5cnAxaE54b2dSNkJCN210V2xOQ2phYmQ4T1l1VjQyc29keFR6M21NTThSMldDWFRjbTh0SWI1eVoyYVYyTXROeTJrMXJvczVVOTRGZAnc4a1h3bm53VDVkSXNXb1RlbXRxSElyVG9zMlRWdwZDZD"
            }
          ]
        },
        "options": {}
      },
      "id": "219cd5f2-3fba-4ad3-921a-de5df279304f",
      "name": "Threads Create Container (Text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12400,
        2976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-threads-container-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77e20723-4d17-4121-a9c4-d20e1be7ff7f",
      "name": "Threads Container OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        12624,
        2896
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.threads.net/v1.0/25889672980705604/threads_publish",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "THAAY5ZBEgt5rVBYllaeGRjV0NkODNOa1ZA5cnAxaE54b2dSNkJCN210V2xOQ2phYmQ4T1l1VjQyc29keFR6M21NTThSMldDWFRjbTh0SWI1eVoyYVYyTXROeTJrMXJvczVVOTRGZAnc4a1h3bm53VDVkSXNXb1RlbXRxSElyVG9zMlRWdwZDZD"
            }
          ]
        },
        "options": {}
      },
      "id": "f712b3b8-bf78-47aa-a929-07bdb00b8cfb",
      "name": "Threads Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12848,
        2880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-threads-post-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1963dcd4-0f05-49c7-acd8-8b24e9b8bf07",
      "name": "Threads Post Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        13072,
        2880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5197/api/webhooks/n8n/distribution-success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Threads"
            },
            {
              "name": "external_url",
              "value": "=https://www.threads.net/t/{{ $json.id }}"
            },
            {
              "name": "external_post_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "platform_metadata",
              "value": "={{ JSON.stringify({ threads_post_id: $json.id, threads_user_id: \"25889672980705604\" }) }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "9cd05eee-c2e0-4bff-a09c-4f20a7420df9",
      "name": "Threads Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13296,
        2816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5197/api/webhooks/n8n/distribution-failed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Threads"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.message || 'Unknown Threads API Error' }}"
            },
            {
              "name": "can_retry",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "bcabb0ba-7c4c-4175-8333-12f6726d0407",
      "name": "Threads Callback Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13296,
        2976
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Post distributed to Threads', threads_post_id: $json.id }) }}",
        "options": {}
      },
      "id": "d0b3b90a-d141-481c-a7de-db533320b38b",
      "name": "Threads Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        13520,
        2816
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Threads distribution failed' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "3fc65f93-aba3-4d27-839c-e0b51257e8c5",
      "name": "Threads Respond Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        13520,
        2976
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Instagram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Instagram?": {
      "main": [
        [
          {
            "node": "IG Create Container",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Threads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Threads?": {
      "main": [
        [
          {
            "node": "Threads Has Image?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image?": {
      "main": [
        [
          {
            "node": "Post with Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post without Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post with Image": {
      "main": [
        [
          {
            "node": "Post Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post without Image": {
      "main": [
        [
          {
            "node": "Post Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Success?": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Failed": {
      "main": [
        [
          {
            "node": "Respond Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Create Container": {
      "main": [
        [
          {
            "node": "IG Container OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Container OK?": {
      "main": [
        [
          {
            "node": "IG Check Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IG Callback Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Check Status": {
      "main": [
        [
          {
            "node": "IG Status FINISHED?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Status FINISHED?": {
      "main": [
        [
          {
            "node": "IG Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IG Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Wait 3s": {
      "main": [
        [
          {
            "node": "IG Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Publish": {
      "main": [
        [
          {
            "node": "IG Get Permalink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Get Permalink": {
      "main": [
        [
          {
            "node": "IG Post Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Post Success?": {
      "main": [
        [
          {
            "node": "IG Callback Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IG Callback Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Callback Success": {
      "main": [
        [
          {
            "node": "IG Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Callback Failed": {
      "main": [
        [
          {
            "node": "IG Respond Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Has Image?": {
      "main": [
        [
          {
            "node": "Threads Create Container (Image)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Threads Create Container (Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Create Container (Image)": {
      "main": [
        [
          {
            "node": "Threads Container OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Create Container (Text)": {
      "main": [
        [
          {
            "node": "Threads Container OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Container OK?": {
      "main": [
        [
          {
            "node": "Threads Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Threads Callback Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Publish": {
      "main": [
        [
          {
            "node": "Threads Post Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Post Success?": {
      "main": [
        [
          {
            "node": "Threads Callback Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Threads Callback Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Callback Success": {
      "main": [
        [
          {
            "node": "Threads Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Callback Failed": {
      "main": [
        [
          {
            "node": "Threads Respond Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "931d7100-c476-4b82-9587-36ae965b42dd",
  "meta": {
    "instanceId": "5229ad676c3a8d293c6db345f673ae85f2faeec97332d940e6b8ecea4c050d50"
  },
  "id": "r2k9uJhG5y0XD4KG",
  "tags": []
}