src/Backend/Api/Api/N8N/n8n.json
{
  "name": "Post to Facebook - AIPromo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-distribute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1ab1270e-868a-4e94-995c-b774d5a7bb88",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1600,
        1248
      ],
      "webhookId": "post-distribute",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-platform",
              "leftValue": "={{ $json.body.platform }}",
              "rightValue": "Instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3b4106f-89a6-4dea-bdd8-0bddfafba563",
      "name": "Is Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1824,
        1248
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-threads-platform",
              "leftValue": "={{ $json.body.platform }}",
              "rightValue": "Threads",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Is Threads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2048,
        1248
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-image-url",
              "leftValue": "={{ $json.body.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6423f8f0-eac8-4686-9cb8-ef977ad516c3",
      "name": "Has Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2048,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1120894677764816/photos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRQXuAXCUefRip9IUFZCLuIZA9Ui4TmkOKomXGLdZC1j3O93VUFDZCZCcq8ZBqzkQv9qEd1elzrZC1UWaznZAIqbLDN7oLVj0OhxZBBhecjkwfWY4TKFIjWBJ77EWZBpY2uhKtOv31Y2wY4MemHkcPFzQ4iGBcQjY7tyurZCPl24rnDFYKte3O2uJQZDZD"
            },
            {
              "name": "url",
              "value": "={{ $node[\"Webhook\"].json.body.image_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "63e0be28-1318-4fbd-851f-f48c5a5af793",
      "name": "Post with Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1120894677764816/feed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRQXuAXCUefRip9IUFZCLuIZA9Ui4TmkOKomXGLdZC1j3O93VUFDZCZCcq8ZBqzkQv9qEd1elzrZC1UWaznZAIqbLDN7oLVj0OhxZBBhecjkwfWY4TKFIjWBJ77EWZBpY2uhKtOv31Y2wY4MemHkcPFzQ4iGBcQjY7tyurZCPl24rnDFYKte3O2uJQZDZD"
            },
            {
              "name": "link",
              "value": "={{ $node[\"Webhook\"].json.body.public_url ?? \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a574345d-bb97-4dff-94c2-b406221c62ad",
      "name": "Post without Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        1216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-post-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7582e701-5acf-4d32-9211-00b92e5367cd",
      "name": "Post Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2464,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:5000/api/webhooks/n8n/distribution-success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Facebook"
            },
            {
              "name": "external_url",
              "value": "=https://www.facebook.com/{{ $json.id }}"
            },
            {
              "name": "external_post_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "platform_metadata",
              "value": "={{ JSON.stringify({ facebook_post_id: $json.id, app_id: \"1755288118783416\", page_id: \"1120894677764816\" }) }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "ba6db8d5-11c6-415a-bf0e-cff19b4022ef",
      "name": "Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:5000/api/webhooks/n8n/distribution-failed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Facebook"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.message || 'Unknown Facebook API Error' }}"
            },
            {
              "name": "can_retry",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "6afde5aa-27b9-4bcb-ad59-e915d6a4918f",
      "name": "Callback Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        1216
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Post distributed to Facebook', facebook_post_id: $json.id }) }}",
        "options": {}
      },
      "id": "bf39bc84-f73a-445f-bff4-bcc3f3b5676b",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2912,
        1008
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Facebook distribution failed', error: $json.error?.message || $json.message }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "468b4fe8-8042-4322-b970-1eacddebe3a6",
      "name": "Respond Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2912,
        1216
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/17841462523395486/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $node[\"Webhook\"].json.body.image_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRQXuAXCUefRip9IUFZCLuIZA9Ui4TmkOKomXGLdZC1j3O93VUFDZCZCcq8ZBqzkQv9qEd1elzrZC1UWaznZAIqbLDN7oLVj0OhxZBBhecjkwfWY4TKFIjWBJ77EWZBpY2uhKtOv31Y2wY4MemHkcPFzQ4iGBcQjY7tyurZCPl24rnDFYKte3O2uJQZDZD"
            }
          ]
        },
        "options": {}
      },
      "id": "85ea0a35-cbbc-4a66-8606-34188c4ec1f8",
      "name": "IG Create Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        1392
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-container-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "418315cb-64ea-4f19-87ab-07059dc2f582",
      "name": "IG Container OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2272,
        1392
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v23.0/{{ $node[\"IG Container OK?\"].json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRQXuAXCUefRip9IUFZCLuIZA9Ui4TmkOKomXGLdZC1j3O93VUFDZCZCcq8ZBqzkQv9qEd1elzrZC1UWaznZAIqbLDN7oLVj0OhxZBBhecjkwfWY4TKFIjWBJ77EWZBpY2uhKtOv31Y2wY4MemHkcPFzQ4iGBcQjY7tyurZCPl24rnDFYKte3O2uJQZDZD"
            }
          ]
        },
        "options": {}
      },
      "id": "d0feffaf-1e7f-40cf-99cd-978181289fcd",
      "name": "IG Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        1392
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6c525368-c37b-4216-b3e5-59efabafadd2",
      "name": "IG Status FINISHED?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2688,
        1392
      ]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 3
      },
      "id": "374455a9-914d-4258-8ef2-34ed3537218d",
      "name": "IG Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2880,
        1500
      ],
      "webhookId": "0bdff43c-7bbc-4550-bfa3-7d41220152d1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/17841462523395486/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $node[\"IG Container OK?\"].json.id }}"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRQXuAXCUefRip9IUFZCLuIZA9Ui4TmkOKomXGLdZC1j3O93VUFDZCZCcq8ZBqzkQv9qEd1elzrZC1UWaznZAIqbLDN7oLVj0OhxZBBhecjkwfWY4TKFIjWBJ77EWZBpY2uhKtOv31Y2wY4MemHkcPFzQ4iGBcQjY7tyurZCPl24rnDFYKte3O2uJQZDZD"
            }
          ]
        },
        "options": {}
      },
      "id": "538e56c2-5393-4087-8838-41c0aa4410e1",
      "name": "IG Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        1392
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRQXuAXCUefRip9IUFZCLuIZA9Ui4TmkOKomXGLdZC1j3O93VUFDZCZCcq8ZBqzkQv9qEd1elzrZC1UWaznZAIqbLDN7oLVj0OhxZBBhecjkwfWY4TKFIjWBJ77EWZBpY2uhKtOv31Y2wY4MemHkcPFzQ4iGBcQjY7tyurZCPl24rnDFYKte3O2uJQZDZD"
            },
            {
              "name": "fields",
              "value": "permalink"
            }
          ]
        },
        "options": {}
      },
      "id": "4388827a-15dc-45ee-8951-922d6aab73a8",
      "name": "IG Get Permalink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        1392
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-ig-post-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4a32bf59-9d32-49de-92a3-aa4dc205f19c",
      "name": "IG Post Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3280,
        1392
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:5000/api/webhooks/n8n/distribution-success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Instagram"
            },
            {
              "name": "external_url",
              "value": "={{ $json.permalink }}"
            },
            {
              "name": "external_post_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "platform_metadata",
              "value": "={{ JSON.stringify({ instagram_post_id: $json.id, instagram_account_id: \"17841462523395486\", permalink: $json.permalink }) }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "44f798da-0cb5-4a53-af9e-0e319459f7ee",
      "name": "IG Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3488,
        1328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:5000/api/webhooks/n8n/distribution-failed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Instagram"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.message || 'Unknown Instagram API Error' }}"
            },
            {
              "name": "can_retry",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "83840953-707b-45dc-8be6-0aa72716240d",
      "name": "IG Callback Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3488,
        1500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Post distributed to Instagram', instagram_post_id: $json.id, permalink: $json.permalink }) }}",
        "options": {}
      },
      "id": "d222ef1f-dd32-4e2d-9dd3-1cc061d05f5b",
      "name": "IG Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3680,
        1328
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Instagram distribution failed' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "26774f9e-be44-4e7a-96bb-617b89b792a7",
      "name": "IG Respond Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3680,
        1500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-threads-image-url",
              "leftValue": "={{ $json.body.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Threads Has Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2272,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.threads.net/v1.0/26575647895449405/threads",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "IMAGE"
            },
            {
              "name": "text",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "image_url",
              "value": "={{ $node[\"Webhook\"].json.body.image_url }}"
            },
            {
              "name": "access_token",
              "value": "THAAM8FAGuNfRBYll5ZAHBnb1JKdVc5dzNRbml3MXdWdzhMcERxeVNHbVJUUUNFMlpnRVgzOG10bjN4NFp3UW5QWXdWVWV5NUo1ZAU4zQXR2UE12Q2hXRFJ3UlJBOFpMVEFFbkJobkVvVVZAJRkRkOExKc05yY194a3ZAlb1BXajYtbDlWYTFIX0ZA0SmhEUDFRVXMZD"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Threads Create Container (Image)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2496,
        1520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.threads.net/v1.0/26575647895449405/threads",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "TEXT"
            },
            {
              "name": "text",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "access_token",
              "value": "THAAM8FAGuNfRBYll5ZAHBnb1JKdVc5dzNRbml3MXdWdzhMcERxeVNHbVJUUUNFMlpnRVgzOG10bjN4NFp3UW5QWXdWVWV5NUo1ZAU4zQXR2UE12Q2hXRFJ3UlJBOFpMVEFFbkJobkVvVVZAJRkRkOExKc05yY194a3ZAlb1BXajYtbDlWYTFIX0ZA0SmhEUDFRVXMZD"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Threads Create Container (Text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2496,
        1680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-threads-container-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Threads Container OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2720,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.threads.net/v1.0/26575647895449405/threads_publish",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "THAAM8FAGuNfRBYll5ZAHBnb1JKdVc5dzNRbml3MXdWdzhMcERxeVNHbVJUUUNFMlpnRVgzOG10bjN4NFp3UW5QWXdWVWV5NUo1ZAU4zQXR2UE12Q2hXRFJ3UlJBOFpMVEFFbkJobkVvVVZAJRkRkOExKc05yY194a3ZAlb1BXajYtbDlWYTFIX0ZA0SmhEUDFRVXMZD"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Threads Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2944,
        1600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-threads-post-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Threads Post Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3168,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:5000/api/webhooks/n8n/distribution-success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Threads"
            },
            {
              "name": "external_url",
              "value": "=https://www.threads.net/t/{{ $json.id }}"
            },
            {
              "name": "external_post_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "platform_metadata",
              "value": "={{ JSON.stringify({ threads_post_id: $json.id, threads_user_id: \"26575647895449405\" }) }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Threads Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        1520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:5000/api/webhooks/n8n/distribution-failed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "Threads"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.message || 'Unknown Threads API Error' }}"
            },
            {
              "name": "can_retry",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Threads Callback Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        1680
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Post distributed to Threads', threads_post_id: $json.id }) }}",
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "Threads Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3616,
        1520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Threads distribution failed' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "e1f2a3b4-c5d6-7890-efab-901234567890",
      "name": "Threads Respond Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3616,
        1680
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Instagram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Instagram?": {
      "main": [
        [
          {
            "node": "IG Create Container",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Threads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Threads?": {
      "main": [
        [
          {
            "node": "Threads Has Image?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image?": {
      "main": [
        [
          {
            "node": "Post with Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post without Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post with Image": {
      "main": [
        [
          {
            "node": "Post Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post without Image": {
      "main": [
        [
          {
            "node": "Post Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Success?": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Failed": {
      "main": [
        [
          {
            "node": "Respond Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Create Container": {
      "main": [
        [
          {
            "node": "IG Container OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Container OK?": {
      "main": [
        [
          {
            "node": "IG Check Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IG Callback Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Check Status": {
      "main": [
        [
          {
            "node": "IG Status FINISHED?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Status FINISHED?": {
      "main": [
        [
          {
            "node": "IG Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IG Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Wait 3s": {
      "main": [
        [
          {
            "node": "IG Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Publish": {
      "main": [
        [
          {
            "node": "IG Get Permalink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Get Permalink": {
      "main": [
        [
          {
            "node": "IG Post Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Post Success?": {
      "main": [
        [
          {
            "node": "IG Callback Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IG Callback Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Callback Success": {
      "main": [
        [
          {
            "node": "IG Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Callback Failed": {
      "main": [
        [
          {
            "node": "IG Respond Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Has Image?": {
      "main": [
        [
          {
            "node": "Threads Create Container (Image)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Threads Create Container (Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Create Container (Image)": {
      "main": [
        [
          {
            "node": "Threads Container OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Create Container (Text)": {
      "main": [
        [
          {
            "node": "Threads Container OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Container OK?": {
      "main": [
        [
          {
            "node": "Threads Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Threads Callback Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Publish": {
      "main": [
        [
          {
            "node": "Threads Post Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Post Success?": {
      "main": [
        [
          {
            "node": "Threads Callback Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Threads Callback Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Callback Success": {
      "main": [
        [
          {
            "node": "Threads Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Callback Failed": {
      "main": [
        [
          {
            "node": "Threads Respond Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "db12922c-b6d1-48fa-85ee-469f4cb24000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5229ad676c3a8d293c6db345f673ae85f2faeec97332d940e6b8ecea4c050d50"
  },
  "id": "0Q6s9e4BPLGcM7mD",
  "tags": []
}