src/Backend/N8N/n8n.json
{
  "name": "Post to Facebook - AIPromo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-distribute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "715833f0-2e37-44b5-b7b7-f358538eff09",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -80,
        288
      ],
      "webhookId": "post-distribute",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-image-url",
              "leftValue": "={{ $json.body.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd764a37-0fd8-4bf4-add7-25a202aa4917",
      "name": "Has Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1120894677764816/photos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRJ8Rat3FC4ZAIoZA2nuy5eRiMNQK5ZAgOKFcy6quLIUZCWGwIaRw8fCRqd1VtAAlNzosTiUtp9CcbZBZAVZBVaGu7rvUcxMRTWdZBgk7lFZAUZBVX49M1KHZArAHoag44vS1IN8d23gvYgy8nlnCwZCFAhFZAgz3BkcUkOBBNoRKDJBF99di8g19juQtu42Jb"
            },
            {
              "name": "url",
              "value": "={{ $node[\"Webhook\"].json.body.image_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "308fa067-0db0-4401-ba59-7cdfd678cefe",
      "name": "Post with Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1120894677764816/feed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $node[\"Webhook\"].json.body.title + \"\\n\\n\" + $node[\"Webhook\"].json.body.body + \"\\n\\n\" + ($node[\"Webhook\"].json.body.summary ?? \"\") }}"
            },
            {
              "name": "access_token",
              "value": "EAAY8bNzMbbgBRJ8Rat3FC4ZAIoZA2nuy5eRiMNQK5ZAgOKFcy6quLIUZCWGwIaRw8fCRqd1VtAAlNzosTiUtp9CcbZBZAVZBVaGu7rvUcxMRTWdZBgk7lFZAUZBVX49M1KHZArAHoag44vS1IN8d23gvYgy8nlnCwZCFAhFZAgz3BkcUkOBBNoRKDJBF99di8g19juQtu42Jb"
            },
            {
              "name": "link",
              "value": "={{ $node[\"Webhook\"].json.body.public_url ?? \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7bb85166-32e1-4712-95fd-0a6dc5a78745",
      "name": "Post without Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-post-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "14e53066-ceb4-47b1-8cfb-1d8a419b9f92",
      "name": "Post Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        512,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:5000/api/webhooks/n8n/distribution-success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
              "name": "platform",
              "value": "={{ $node[\"Webhook\"].json.body.platform }}"
            },
            {
              "name": "external_url",
              "value": "=https://www.facebook.com/{{ $json.id }}"
            },
            {
              "name": "external_post_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "platform_metadata",
              "value": "={{ JSON.stringify({ facebook_post_id: $json.id, app_id: \"1755288118783416\", page_id: \"1120894677764816\" }) }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "938d52f7-5633-47be-b5cb-d228643e8410",
      "name": "Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:5000/api/webhooks/n8n/distribution-failed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aipromo-webhook-key-2026"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node[\"Webhook\"].json.body.post_id }}"
            },
            {
                "name": "platform",
                "value": "={{ $node[\"Webhook\"].json.body.platform }}"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.message || 'Unknown Facebook API Error' }}"
            },
            {
              "name": "can_retry",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "d141b1ed-570d-4e70-b791-030655766646",
      "name": "Callback Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        416
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Post distributed to Facebook', facebook_post_id: $json.id }) }}",
        "options": {}
      },
      "id": "053bc4b3-f292-4e9a-a0c3-0e422c37c5c5",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Facebook distribution failed', error: $json.error?.message || $json.message }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "ef3f0762-16f7-4c43-980d-caaee371527f",
      "name": "Respond Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        416
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Has Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image?": {
      "main": [
        [
          {
            "node": "Post with Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post without Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post with Image": {
      "main": [
        [
          {
            "node": "Post Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post without Image": {
      "main": [
        [
          {
            "node": "Post Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Success?": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Failed": {
      "main": [
        [
          {
            "node": "Respond Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a9d57f8b-b786-45d4-8073-80d2b7ebee3d",
  "meta": {
    "instanceId": "5229ad676c3a8d293c6db345f673ae85f2faeec97332d940e6b8ecea4c050d50"
  },
  "id": "C3puJG3s4qCRBic0",
  "tags": []
}
